



/*0px-500px*/
body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    background: rgb(6,48,65);
    background: linear-gradient(0deg, rgba(125, 164, 204,1) 0%, rgb(122, 185, 212) 35%, rgba(255,255,255,1) 100%); 
}

header {
    background-color: rgb(125, 164, 204);
    border-bottom: solid 2px black;
}

.nav-button {
    background-color: rgb(255, 255, 255);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.top-button {
    color: rgb(0, 0, 0);
    width: 32px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#banner h1 {
    text-align: center;
    margin: 0;
}

#banner p {
    text-align: justify;
    margin: 0 1rem 0 1rem;
}

.banner-img {
    width: 100vw;
}

#services, #pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services h2, h3 {
    text-align: center;
}

#services p {
    margin: 0.5em;
    text-align: justify;
}

.services-container, .pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    gap: 1em;
    margin: 0.5em 0 1em 0;
}

.services-container p, .pricing-container p {
    font-style: italic;
}

.services-container h3, .pricing-container h3 {
    margin-top: 0.5rem;
}

.services-icon, .pricing-icon {
    width: 32px;
}

.contact-center, .technical-support, .back-office, .package-1, .package-2, .package-3 {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    box-shadow: 0px 5px 15px -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing h2, h3 {
    text-align: center;
}

#pricing p {
    margin: 0.5em;
    text-align: justify;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#contact h2 {
    text-align: center;
    margin: 0;
}

#contact p {
    text-align: justify;
    margin: 0;
}

.contact-container {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    margin:0 1rem 0 1rem;
}

.email-icon {
    color: white;
    width: 55px;
}

footer {
    background-color: rgb(95, 132, 169);
    margin-top: auto;
    border-top: solid 2px black;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
}

.footer-text p {
    margin-bottom: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5rem;
}

.social-icon {
    width: 24px;
    color: black;
}

/*500px-768px*/
@media (min-width: 500px) {
    body {
        font-size: 18px;
    }

    header {
        border-bottom: solid 4px black;
    }

    footer {
        border-top: solid 4px black;
    }

    .social-icon {
        width: 36px;
    }

    .top-button {
        width: 40px;
    }
}

/*768px-1024px*/
@media (min-width: 768px) {
    body {
        font-size: 20px;
    }

    header {
        border-bottom: solid 6px black;
    }

    footer {
        border-top: solid 6px black;
    }

    .email-icon {
        width: 70px;
    }

    .social-icon {
        width: 38px;
    }

    .top-button {
        width: 42px;
    }

    .services-container, .pricing-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95vw;
        gap: 1em;
        margin: 0.5em 0 1em 0;
    }

    #services p, #pricing p {
        margin: 1rem;
        text-align: justify;
    }
}


/*1024px*/
@media (min-width: 1024px) {
    body {
        font-size: 22px;
    }

    header {
        border-bottom: solid 8px black;
    }

    footer {
        border-top: solid 8px black;
    }

    .email-icon {
        width: 75px;
    }

    .social-icon {
        width: 42px;
    }

    .top-button {
        width: 46px;
    }

    .email-icon:hover {
        color:black;
        transition: .5s;
    }

    .social-icon:hover {
        color: white;
    }
}
