@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*0px-500px*/
body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    background: rgb(6,48,65);
    background: linear-gradient(0deg, rgba(125, 164, 204,1) 0%, rgb(32, 155, 208) 35%, rgba(255,255,255,1) 100%); 
    ;
}

header {
    background-color: rgb(125, 164, 204);
    border-bottom: solid 2px black;
}

.nav-button {
    background-color: rgb(255, 255, 255);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.arrow {
    width: 48px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#banner h1 {
    text-align: center;
    margin: 0;
}

#banner p {
    text-align: justify;
    margin: 0 1rem 0 1rem;
}

.banner-img {
    width: 100vw;
}

#services, #pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services h2, h3 {
    text-align: center;
}

#services p {
    margin: 0.5em;
    text-align: justify;
}

.services-container, .pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    gap: 1em;
    margin: 0.5em 0 1em 0;
}

.services-container p, .pricing-container p {
    font-style: italic;
}

.services-icon, .pricing-icon {
    width: 32px;
}

.contact-center, .technical-support, .back-office, .package-1, .package-2, .package-3 {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    box-shadow: 0px 5px 15px -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing h2, h3 {
    text-align: center;
}

#pricing p {
    margin: 0.5em;
    text-align: justify;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#contact h2 {
    text-align: center;
    margin: 0;
}

#contact p {
    text-align: justify;
    margin: 0 1rem 0 1rem;
}

footer {
    background-color: rgb(122, 162, 202);
    margin-top: auto;
    border-top: solid 2px black;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
}

.footer-text p {
    margin-bottom: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.icon-img {
    width: 32px;
}


/*500px-768px*/

/*768px-1024px*/
