/*Color palette*/ /*Positioning*/
/*Text and spaces*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

header {
  background-color: rgb(34, 34, 59);
}
header .navbar-dark .navbar-toggler {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
header .navbar-dark .navbar-nav .nav-link {
  margin: 10px;
  color: rgb(255, 255, 255);
}
header .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(197, 197, 197, 0.634);
  transition: 0.5s;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#banner h1 {
  margin: 8px;
  margin-bottom: 0;
}
#banner p {
  margin: 8px;
  margin-bottom: 0;
}
#banner .btn {
  margin: 10px;
}
#banner .btn-primary:hover {
  color: #fff;
  background-color: #0f49a1;
  border-color: #0a58ca;
}
#banner figure {
  margin: 0;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#info h2 {
  margin: 10px;
  margin-bottom: 0px;
}
#info p {
  margin: 8px;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .services-container .contact-center1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin: 10px;
}
#services .services-container .contact-center1 p {
  text-align: left;
  padding: 5px;
  margin-bottom: 0;
}
#services .services-container .contact-center2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 8px;
  margin: 10px;
}
#services .services-container .contact-center2 p {
  text-align: left;
  padding: 5px;
  margin-bottom: 0;
}
#services .services-container .contact-center3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin: 10px;
}
#services .services-container .contact-center3 p {
  text-align: left;
  padding: 5px;
  margin-bottom: 0;
}

#why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#why-us .why-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#why-us .why-container .option-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin: 10px;
}
#why-us .why-container .option-1 p {
  text-align: left;
  padding: 5px;
  margin-bottom: 0;
}
#why-us .why-container .option-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 8px;
  margin: 10px;
}
#why-us .why-container .option-2 p {
  text-align: left;
  padding: 5px;
  margin-bottom: 0;
}
#why-us .why-container .option-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin: 10px;
  margin-bottom: 0;
}
#why-us .why-container .option-3 p {
  text-align: left;
  padding: 5px;
  margin-bottom: 0;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 233, 228);
}
#contact .contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .contact-title h2 {
  margin: 0 10px 0 10px;
}
#contact .contact-title h3 {
  margin: 0 10px 0 10px;
  font-style: italic;
}
#contact .contact-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-bottom: 0;
}
#contact .contact-container .contact-text {
  margin-right: 50px;
}
#contact .contact-container .contact-text .btn {
  margin: 10px;
}
#contact .contact-container .contact-text .btn-primary:hover {
  color: #fff;
  background-color: #0f49a1;
  border-color: #0a58ca;
}

footer {
  background-color: rgb(34, 34, 59);
  margin-top: auto;
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
}
footer .footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5rem;
}
footer .footer .social .icons a {
  color: #fff;
}
footer .footer .social .icons a:hover {
  color: rgb(183, 183, 183);
}
footer .footer .social .social-icon {
  width: 24px;
}
footer .footer .footer-text p {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
footer .float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer .float-button .top-button {
  color: rgb(74, 78, 105);
  width: 32px;
}

.textover-banner {
  position: relative;
}
.textover-banner figcaption {
  position: absolute;
  top: 0%;
  left: 0;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
}
@media (min-width: 350px) {
  .textover-banner figcaption {
    top: 8%;
  }
}
@media (min-width: 400px) {
  .textover-banner figcaption {
    top: 18%;
  }
}
@media (min-width: 450px) {
  .textover-banner figcaption {
    top: 22%;
  }
}
@media (min-width: 500px) {
  .textover-banner figcaption {
    top: 30%;
  }
}
@media (min-width: 550px) {
  .textover-banner figcaption {
    top: 32%;
  }
}
@media (min-width: 600px) {
  .textover-banner figcaption {
    top: 33%;
  }
}
@media (min-width: 650px) {
  .textover-banner figcaption {
    top: 35%;
  }
}
@media (min-width: 700px) {
  .textover-banner figcaption {
    top: 40%;
    padding: 15px;
    font-size: 25px;
  }
}
@media (min-width: 800px) {
  .textover-banner figcaption {
    top: 43%;
  }
}
@media (min-width: 900px) {
  .textover-banner figcaption {
    top: 35%;
    font-size: 30px;
  }
}
@media (min-width: 1000px) {
  .textover-banner figcaption {
    top: 40%;
    font-size: 35px;
  }
}

.sections-img {
  max-width: 50vw;
}

.contact-img {
  max-width: 30vw;
}

.mail-icon {
  width: 15vw;
}/*# sourceMappingURL=styles.css.map */