/*Color palette*/ /*Positioning*/
/*Text and spaces*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

header {
  background-color: #161616;
}
header .navbar-dark .navbar-toggler {
  color: #161616;
  border-color: #161616;
}
header .navbar-dark .navbar-nav .nav-link {
  margin: 8px;
  color: #b3b3b3;
}
@media (min-width: 576px) {
  header .navbar-dark .navbar-nav .nav-link {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header .navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
  }
}
header .navbar-dark .navbar-nav .nav-link:hover {
  color: #F14D60;
  transition: 0.5s;
}
@media (min-width: 992px) {
  header .navbar-expand-lg,
  header .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
header .navbar-nav {
  margin-left: auto;
}
@media (min-width: 576px) {
  header .navbar-nav .nav-link .btn-group-sm > .btn,
  header .navbar-nav .nav-link .btn-sm {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  header .navbar-nav .nav-link .btn-group-sm > .btn,
  header .navbar-nav .nav-link .btn-sm {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  header .navbar-nav .nav-link .btn-group-sm > .btn,
  header .navbar-nav .nav-link .btn-sm {
    font-size: 18px;
  }
}
header .navbar-nav .nav-link .btn-primary {
  color: white;
  background-color: #911A1D;
  border-color: #BD7677;
  border-radius: 16px;
}
header .navbar-nav .nav-link .btn-primary:hover {
  color: #fff;
  background-color: #A7484A;
  border-color: #fff;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#banner figure {
  margin: 0;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#info h2 {
  margin: 10px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  #info h2 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  #info h2 {
    font-size: 36px;
  }
}
#info p {
  margin: 8px;
}
@media (min-width: 576px) {
  #info p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #info p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #info p {
    font-size: 26px;
  }
}

#what-we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0px 10px 0px;
}
@media (min-width: 768px) {
  #what-we-do {
    margin-top: 18px;
  }
}
@media (min-width: 992px) {
  #what-we-do {
    margin-top: 28px;
  }
}
#what-we-do a {
  margin-bottom: 5px;
}
@media (min-width: 576px) {
  #what-we-do a button {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #what-we-do a button {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #what-we-do a button {
    font-size: 24px;
  }
}
#what-we-do h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  #what-we-do h2 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  #what-we-do h2 {
    font-size: 36px;
  }
}
#what-we-do .what-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#what-we-do .what-container .what-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 576px) {
  #what-we-do .what-container .what-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  #what-we-do .what-container .what-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 14px 0 14px;
    gap: 14px;
  }
}
@media (min-width: 992px) {
  #what-we-do .what-container .what-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 50px 0 50px;
    gap: 16px;
  }
}
#what-we-do .what-container .what-section p {
  text-align: justify;
  padding: 5px;
  margin: 0 15px 0 15px;
}
@media (min-width: 576px) {
  #what-we-do .what-container .what-section p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #what-we-do .what-container .what-section p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #what-we-do .what-container .what-section p {
    font-size: 26px;
  }
}
#what-we-do .what-container .what-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 576px) {
  #what-we-do .what-container .what-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  #what-we-do .what-container .what-section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 14px 0 14px;
    gap: 14px;
  }
}
@media (min-width: 992px) {
  #what-we-do .what-container .what-section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 50px 0 50px;
    gap: 16px;
  }
}
#what-we-do .what-container .what-section1 p {
  text-align: justify;
  padding: 5px;
  margin: 0 15px 0 15px;
}
@media (min-width: 576px) {
  #what-we-do .what-container .what-section1 p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #what-we-do .what-container .what-section1 p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #what-we-do .what-container .what-section1 p {
    font-size: 26px;
  }
}

#more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#more-info h2 {
  margin: 8px 10px 8px 10px;
}
#more-info .form,
#more-info .maps {
  width: 90%;
}
#more-info .form form {
  padding: 25px;
  margin: 0px 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
  gap: 20px;
}
#more-info .form form input,
#more-info .form form textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #454545;
  outline: none;
}
#more-info .form form input, #more-info .form form textarea::placeholder {
  color: #666;
}
#more-info .form form h1 {
  margin: 0 0 20px;
  font-weight: 400;
  color: #F14D60;
}
#more-info .form form p {
  margin: 0 0 5px;
}
#more-info .form form .buttons {
  margin-left: 85.2%;
  display: flex;
  gap: 25px;
}

#solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0px 10px 0px;
}
@media (min-width: 768px) {
  #solutions {
    margin-top: 18px;
  }
}
@media (min-width: 992px) {
  #solutions {
    margin-top: 28px;
  }
}
#solutions a {
  margin-left: 20px;
  align-self: flex-start;
}
@media (min-width: 576px) {
  #solutions a button {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #solutions a button {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #solutions a button {
    font-size: 24px;
  }
}
#solutions h2 {
  margin: 8px 10px 8px 10px;
  text-align: center;
}
@media (min-width: 768px) {
  #solutions h2 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  #solutions h2 {
    font-size: 36px;
  }
}
#solutions .solutions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#solutions .solutions-container .solutions-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 576px) {
  #solutions .solutions-container .solutions-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  #solutions .solutions-container .solutions-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 14px 0 14px;
    gap: 14px;
  }
}
@media (min-width: 992px) {
  #solutions .solutions-container .solutions-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 50px 0 50px;
    gap: 16px;
  }
}
#solutions .solutions-container .solutions-section p {
  text-align: justify;
  padding: 5px;
  margin: 0 15px 0 15px;
}
@media (min-width: 576px) {
  #solutions .solutions-container .solutions-section p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #solutions .solutions-container .solutions-section p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #solutions .solutions-container .solutions-section p {
    font-size: 26px;
  }
}
#solutions .solutions-container .solutions-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 576px) {
  #solutions .solutions-container .solutions-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  #solutions .solutions-container .solutions-section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 14px 0 14px;
    gap: 14px;
  }
}
@media (min-width: 992px) {
  #solutions .solutions-container .solutions-section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 50px 0 50px;
    gap: 16px;
  }
}
#solutions .solutions-container .solutions-section1 p {
  text-align: justify;
  padding: 5px;
  margin: 0 15px 0 15px;
}
@media (min-width: 576px) {
  #solutions .solutions-container .solutions-section1 p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #solutions .solutions-container .solutions-section1 p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #solutions .solutions-container .solutions-section1 p {
    font-size: 26px;
  }
}

#demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  #demo {
    margin-top: 28px;
  }
}
@media (min-width: 992px) {
  #demo {
    margin-top: 40px;
  }
}
#demo a {
  margin-left: 20px;
  align-self: flex-start;
}
@media (min-width: 576px) {
  #demo a button {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #demo a button {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #demo a button {
    font-size: 24px;
  }
}
#demo h3 {
  margin: 0px 10px 8px 10px;
  text-align: center;
}
#demo .demo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#demo .demo-container .demo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 576px) {
  #demo .demo-container .demo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  #demo .demo-container .demo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 14px 0 14px;
    gap: 14px;
  }
}
@media (min-width: 992px) {
  #demo .demo-container .demo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 50px 0 50px;
    gap: 16px;
  }
}
#demo .demo-container .demo-section p {
  text-align: justify;
  padding: 5px;
  margin: 0 15px 0 15px;
}
@media (min-width: 576px) {
  #demo .demo-container .demo-section p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #demo .demo-container .demo-section p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #demo .demo-container .demo-section p {
    font-size: 26px;
  }
}
#demo .demo-container .demo-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 576px) {
  #demo .demo-container .demo-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  #demo .demo-container .demo-section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 14px 0 14px;
    gap: 14px;
  }
}
@media (min-width: 992px) {
  #demo .demo-container .demo-section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    margin: 10px;
    margin: 0 50px 0 50px;
    gap: 16px;
  }
}
#demo .demo-container .demo-section1 p {
  text-align: justify;
  padding: 5px;
  margin: 0 15px 0 15px;
}
@media (min-width: 576px) {
  #demo .demo-container .demo-section1 p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #demo .demo-container .demo-section1 p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #demo .demo-container .demo-section1 p {
    font-size: 26px;
  }
}

footer {
  background-color: #161616;
  margin-top: auto;
}
footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
footer .footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin: 10px;
  margin-right: 55px;
  gap: 8px;
  font-size: 12px;
}
footer .footer .footer-links a {
  color: #b3b3b3;
  text-decoration: none;
}
footer .footer .footer-links a:hover {
  color: #F14D60;
}
@media (min-width: 576px) {
  footer .footer .footer-links {
    margin-right: 55px;
    gap: 10px;
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  footer .footer .footer-links {
    margin-right: 60px;
    gap: 16px;
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  footer .footer .footer-links {
    margin-right: 65px;
    gap: 25px;
    font-size: 16px;
  }
}
footer .footer .footer-text {
  margin-right: auto;
}
footer .footer .footer-text p {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  font-size: 12px;
}
@media (min-width: 576px) {
  footer .footer .footer-text p {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  footer .footer .footer-text p {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  footer .footer .footer-text p {
    font-size: 16px;
  }
}
footer .float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer .float-button .top-button {
  color: #737373;
  width: 32px;
}
@media (min-width: 576px) {
  footer .float-button .top-button {
    width: 34px;
  }
}
@media (min-width: 768px) {
  footer .float-button .top-button {
    width: 36px;
  }
}
@media (min-width: 992px) {
  footer .float-button .top-button {
    width: 38px;
  }
}
footer .float-button .top-button:hover {
  color: #911A1D;
}

.legal-container {
  width: 95%;
}
.legal-container p {
  text-align: justify;
}
.legal-container h3 {
  margin-bottom: 0px;
}

.textover-banner {
  position: relative;
}
.textover-banner figcaption {
  position: absolute;
  top: 6%;
  left: 0%;
  color: white;
  text-align: left;
  font-style: italic;
}
.textover-banner figcaption p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
}
.textover-banner figcaption h1 {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
}
.textover-banner figcaption #textover-paragraph {
  color: #BFBFBF;
  font-weight: 800;
  margin-top: 2px;
  margin-bottom: 2px;
}
.textover-banner figcaption .textover-paragraph {
  font-size: 8px;
  font-weight: 500;
  width: 300px;
}
.textover-banner figcaption a {
  margin-left: 8px;
}
.textover-banner figcaption a .btn-primary {
  margin-top: 3px;
  background-color: #911A1D;
  border-color: #911A1D;
  font-size: 6px;
  font-weight: 600;
}
.textover-banner figcaption a .btn-primary:hover {
  background-color: #F14D60;
  border-color: #A7484A;
}
@media (min-width: 350px) {
  .textover-banner figcaption {
    top: 3%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
  }
  .textover-banner figcaption h1 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 9.5px;
    font-weight: 500;
    width: 340px;
  }
  .textover-banner figcaption a {
    margin-left: 12px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 3px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 8px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 400px) {
  .textover-banner figcaption {
    top: 5%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
  }
  .textover-banner figcaption h1 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 10.5px;
    font-weight: 500;
    width: 400px;
  }
  .textover-banner figcaption a {
    margin-left: 12px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 3px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 8px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 450px) {
  .textover-banner figcaption {
    top: 7%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 11px;
    font-weight: 500;
    width: 425px;
  }
  .textover-banner figcaption a {
    margin-left: 15px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 10px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 500px) {
  .textover-banner figcaption {
    top: 8%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption h1 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 12px;
    font-weight: 500;
    width: 450px;
  }
  .textover-banner figcaption a {
    margin-left: 15px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 10px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 550px) {
  .textover-banner figcaption {
    top: 7%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption h1 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 14px;
    font-weight: 500;
    width: 480px;
  }
  .textover-banner figcaption a {
    margin-left: 15px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 12px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 600px) {
  .textover-banner figcaption {
    top: 8%;
  }
  .textover-banner figcaption p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 14px;
    font-weight: 500;
    width: 520px;
  }
  .textover-banner figcaption a {
    margin-left: 15px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 12px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 650px) {
  .textover-banner figcaption {
    top: 11%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption h1 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 14px;
    font-weight: 500;
    width: 530px;
  }
  .textover-banner figcaption a {
    margin-left: 15px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 12px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 700px) {
  .textover-banner figcaption {
    top: 10%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 16px;
    font-weight: 500;
    width: 580px;
  }
  .textover-banner figcaption a {
    margin-left: 15px;
  }
  .textover-banner figcaption a .btn-primary {
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 14px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 800px) {
  .textover-banner figcaption {
    top: 10%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 22px;
  }
  .textover-banner figcaption h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 22px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 18px;
    font-weight: 500;
    width: 650px;
  }
  .textover-banner figcaption a {
    margin-left: 22px;
  }
  .textover-banner figcaption a .btn-primary {
    padding: 6px 12px;
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 16px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 900px) {
  .textover-banner figcaption {
    top: 12%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .textover-banner figcaption h1 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 20px;
    font-weight: 500;
    width: 750px;
  }
  .textover-banner figcaption a {
    margin-left: 18px;
  }
  .textover-banner figcaption a .btn-primary {
    padding: 6px 12px;
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 18px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 1000px) {
  .textover-banner figcaption {
    top: 6%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .textover-banner figcaption h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 28px;
    font-weight: 500;
    width: 950px;
  }
  .textover-banner figcaption a {
    margin-left: 30px;
  }
  .textover-banner figcaption a .btn-primary {
    padding: 6px 12px;
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 22px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 1200px) {
  .textover-banner figcaption {
    top: 3%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 35px;
  }
  .textover-banner figcaption h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 35px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 32px;
    font-weight: 500;
    width: 1050px;
  }
  .textover-banner figcaption a {
    margin-left: 35px;
  }
  .textover-banner figcaption a .btn-primary {
    padding: 6px 12px;
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 24px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 1400px) {
  .textover-banner figcaption {
    top: 8%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 45px;
  }
  .textover-banner figcaption h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 45px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 36px;
    font-weight: 500;
    width: 1200px;
  }
  .textover-banner figcaption a {
    margin-left: 45px;
  }
  .textover-banner figcaption a .btn-primary {
    padding: 6px 16px;
    margin-top: 5px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 32px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}
@media (min-width: 1800px) {
  .textover-banner figcaption {
    top: 8%;
  }
  .textover-banner figcaption p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 45px;
  }
  .textover-banner figcaption h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 45px;
  }
  .textover-banner figcaption #textover-paragraph {
    color: #BFBFBF;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .textover-banner figcaption .textover-paragraph {
    font-size: 42px;
    font-weight: 500;
    width: 1400px;
  }
  .textover-banner figcaption a {
    margin-left: 45px;
  }
  .textover-banner figcaption a .btn-primary {
    padding: 6px 16px;
    margin-top: 10px;
    background-color: #911A1D;
    border-color: #911A1D;
    font-size: 30px;
    font-weight: 600;
  }
  .textover-banner figcaption a .btn-primary:hover {
    background-color: #F14D60;
    border-color: #A7484A;
  }
}

.sections-img {
  max-width: 50vw;
}
@media (min-width: 576px) {
  .sections-img {
    width: 30vw;
  }
}
@media (min-width: 768px) {
  .sections-img {
    width: 30vw;
  }
}
@media (min-width: 992px) {
  .sections-img {
    width: 25vw;
  }
}

.logo {
  width: 25vw;
}
@media (min-width: 576px) {
  .logo {
    width: 15vw;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 15vw;
  }
}
@media (min-width: 992px) {
  .logo {
    width: 10vw;
  }
}/*# sourceMappingURL=styles.css.map */