* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: #fff;
}

header {
    background-color: $black-100;

    .navbar-dark .navbar-toggler {
        color: $black-100;
        border-color: $black-100;
    }

    .navbar-dark .navbar-nav .nav-link {
        margin: 8px;
        color: $logo-font;

        @media (min-width: 576px) {
            font-size: 16px;
        }

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: $red-50;
        transition: 0.5s;
    }

    .navbar-expand-lg,
    .navbar-nav {

        @media (min-width: 992px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    .navbar-nav {
        margin-left: auto;

        .nav-link {

            .btn-group-sm>.btn,
            .btn-sm {

                @media (min-width: 576px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 20px;
                }

                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }

            .btn-primary {
                color: white;
                background-color: $burgundy-100;
                border-color: $burgundy-25;
                border-radius: 16px;
            }

            .btn-primary:hover {
                color: #fff;
                background-color: $burgundy-50;
                border-color: #fff;
            }
        }
    }
}

#banner {
    @include flex-column;
    text-align: center;

    figure {
        margin: 0;
    }
}

#info {
    @include flex-column;
    text-align: center;

    h2 {
        margin: 10px;
        margin-bottom: 0px;

        @media (min-width: 768px) {
            font-size: 32px;
        }

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }

    p {
        margin: 8px;

        @media (min-width: 576px) {
            font-size: 20px;
        }

        @media (min-width: 768px) {
            font-size: 24px;
        }

        @media (min-width: 992px) {
            font-size: 26px;
        }
    }
}

#what-we-do {
    @include flex-column;
    gap: 15px;
    margin: 10px 0px 10px 0px;

    @media (min-width: 768px) {
        margin-top: 18px;
    }

    @media (min-width: 992px) {
        margin-top: 28px;
    }

    a {
        margin-bottom: 5px;

        button {
            @media (min-width: 576px) {
                font-size: 18px;
            }

            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 992px) {
                font-size: 24px;
            }
        }
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;

        @media (min-width: 768px) {
            font-size: 32px;
        }

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }

    .what-container {
        @include flex-column;
        gap: 25px;

        .what-section {
            @include flex-column;
            gap: 10px;

            @media (min-width: 576px) {
                @include flex-column;
                gap: 12px;
            }

            @media (min-width: 768px) {
                @include flex-row;
                margin: 0 14px 0 14px;
                gap: 14px;
            }

            @media (min-width: 992px) {
                @include flex-row;
                margin: 0 50px 0 50px;
                gap: 16px;
            }

            p {
                @include mobile-sections-p;

                @media (min-width: 576px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 992px) {
                    font-size: 26px;
                }
            }
        }

        .what-section1 {
            @include flex-column;
            gap: 10px;

            @media (min-width: 576px) {
                @include flex-column;
                gap: 12px;
            }

            @media (min-width: 768px) {
                @include flex-row-reverse;
                margin: 0 14px 0 14px;
                gap: 14px;
            }

            @media (min-width: 992px) {
                @include flex-row-reverse;
                margin: 0 50px 0 50px;
                gap: 16px;
            }

            p {
                @include mobile-sections-p;

                @media (min-width: 576px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 992px) {
                    font-size: 26px;
                }
            }
        }
    }
}

#more-info {
    @include flex-column;
    gap: 15px;

    h2 {
        margin: 8px 10px 8px 10px;
    }

    .form,
    .maps {
        width: 90%;
    }
}

#solutions {
    @include flex-column;
    gap: 15px;
    margin: 10px 0px 10px 0px;

    @media (min-width: 768px) {
        margin-top: 18px;
    }

    @media (min-width: 992px) {
        margin-top: 28px;
    }

    a {
        margin-left: 20px;
        align-self: flex-start;

        button {
            @media (min-width: 576px) {
                font-size: 18px;
            }

            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 992px) {
                font-size: 24px;
            }
        }
    }

    h2 {
        margin: 8px 10px 8px 10px;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 32px;
        }

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }

    .solutions-container {
        @include flex-column;
        gap: 25px;

        .solutions-section {
            @include flex-column;
            gap: 10px;

            @media (min-width: 576px) {
                @include flex-column;
                gap: 12px;
            }

            @media (min-width: 768px) {
                @include flex-row;
                margin: 0 14px 0 14px;
                gap: 14px;
            }

            @media (min-width: 992px) {
                @include flex-row;
                margin: 0 50px 0 50px;
                gap: 16px;
            }

            p {
                @include mobile-sections-p;

                @media (min-width: 576px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 992px) {
                    font-size: 26px;
                }
            }
        }

        .solutions-section1 {
            @include flex-column;
            gap: 10px;

            @media (min-width: 576px) {
                @include flex-column;
                gap: 12px;
            }

            @media (min-width: 768px) {
                @include flex-row-reverse;
                margin: 0 14px 0 14px;
                gap: 14px;
            }

            @media (min-width: 992px) {
                @include flex-row-reverse;
                margin: 0 50px 0 50px;
                gap: 16px;
            }

            p {
                @include mobile-sections-p;

                @media (min-width: 576px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 992px) {
                    font-size: 26px;
                }
            }
        }
    }
}

#demo {
    @include flex-column;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    @media (min-width: 768px) {
        margin-top: 28px;
    }

    @media (min-width: 992px) {
        margin-top: 40px;
    }

    a {
        margin-left: 20px;
        align-self: flex-start;

        button {
            @media (min-width: 576px) {
                font-size: 18px;
            }

            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 992px) {
                font-size: 24px;
            }
        }
    }

    h3 {
        margin: 0px 10px 8px 10px;
        text-align: center;
    }

    .demo-container {
        @include flex-column;
        gap: 25px;

        .demo-section {
            @include flex-column;
            gap: 10px;

            @media (min-width: 576px) {
                @include flex-column;
                gap: 12px;
            }

            @media (min-width: 768px) {
                @include flex-row;
                margin: 0 14px 0 14px;
                gap: 14px;
            }

            @media (min-width: 992px) {
                @include flex-row;
                margin: 0 50px 0 50px;
                gap: 16px;
            }

            p {
                @include mobile-sections-p;

                @media (min-width: 576px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 992px) {
                    font-size: 26px;
                }
            }
        }

        .demo-section1 {
            @include flex-column;
            gap: 10px;

            @media (min-width: 576px) {
                @include flex-column;
                gap: 12px;
            }

            @media (min-width: 768px) {
                @include flex-row-reverse;
                margin: 0 14px 0 14px;
                gap: 14px;
            }

            @media (min-width: 992px) {
                @include flex-row-reverse;
                margin: 0 50px 0 50px;
                gap: 16px;
            }

            p {
                @include mobile-sections-p;

                @media (min-width: 576px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 992px) {
                    font-size: 26px;
                }
            }
        }
    }
}

// #free-trial {
//     @include flex-column;
//     gap: 15px;

//     @media (min-width: 768px) {
//         margin-top: 18px;
//     }

//     @media (min-width: 992px) {
//         margin-top: 28px;
//     }

//     h2 {
//         margin-top: 0;
//         margin-bottom: 0px;

//         @media (min-width: 768px) {
//             font-size: 32px;
//         }

//         @media (min-width: 992px) {
//             font-size: 36px;
//         }
//     }

//     .free-container {
//         @include flex-column;
//         gap: 25px;

//         .free-section {
//             @include flex-column;
//             gap: 10px;

//             @media (min-width: 576px) {
//                 @include flex-column;
//                 gap: 12px;
//             }

//             @media (min-width: 768px) {
//                 @include flex-row;
//                 margin: 0 14px 0 14px;
//                 gap: 14px;
//             }

//             @media (min-width: 992px) {
//                 @include flex-row;
//                 margin: 0 50px 0 50px;
//                 gap: 16px;
//             }

//             p {
//                 @include mobile-sections-p;

//                 @media (min-width: 576px) {
//                     font-size: 20px;
//                 }

//                 @media (min-width: 768px) {
//                     font-size: 24px;
//                 }

//                 @media (min-width: 992px) {
//                     font-size: 26px;
//                 }
//             }
//         }

//         .free-section1 {
//             @include flex-column;
//             gap: 10px;

//             @media (min-width: 576px) {
//                 @include flex-column;
//                 gap: 12px;
//             }

//             @media (min-width: 768px) {
//                 @include flex-row-reverse;
//                 margin: 0 14px 0 14px;
//                 gap: 14px;
//             }

//             @media (min-width: 992px) {
//                 @include flex-row-reverse;
//                 margin: 0 50px 0 50px;
//                 gap: 16px;
//             }

//             p {
//                 @include mobile-sections-p;

//                 @media (min-width: 576px) {
//                     font-size: 20px;
//                 }

//                 @media (min-width: 768px) {
//                     font-size: 24px;
//                 }

//                 @media (min-width: 992px) {
//                     font-size: 26px;
//                 }
//             }
//         }
//     }
// }

// #pricing {
//     @include flex-column;
//     gap: 15px;
//     margin: 10px 0px 10px 0px;

//     @media (min-width: 768px) {
//         margin-top: 18px;
//     }

//     @media (min-width: 992px) {
//         margin-top: 28px;
//     }

//     a {
//         margin-left: 20px;
//         align-self: flex-start;

//         button {
//             @media (min-width: 576px) {
//                 font-size: 18px;
//             }

//             @media (min-width: 768px) {
//                 font-size: 20px;
//             }

//             @media (min-width: 992px) {
//                 font-size: 24px;
//             }
//         }
//     }

//     h2 {
//         margin: 10px 10px 0px 10px;
//         text-align: center;


//         @media (min-width: 768px) {
//             font-size: 32px;
//         }

//         @media (min-width: 992px) {
//             font-size: 36px;
//         }
//     }

//     .pricing-container {
//         @include flex-column;
//         gap: 25px;

//         .pricing-section {
//             @include flex-column;
//             gap: 10px;

//             @media (min-width: 576px) {
//                 @include flex-column;
//                 gap: 12px;
//             }

//             @media (min-width: 768px) {
//                 @include flex-row;
//                 margin: 0 14px 0 14px;
//                 gap: 14px;
//             }

//             @media (min-width: 992px) {
//                 @include flex-row;
//                 margin: 0 50px 0 50px;
//                 gap: 16px;
//             }

//             p {
//                 @include mobile-sections-p;

//                 @media (min-width: 576px) {
//                     font-size: 20px;
//                 }

//                 @media (min-width: 768px) {
//                     font-size: 24px;
//                 }

//                 @media (min-width: 992px) {
//                     font-size: 26px;
//                 }
//             }
//         }

//         .pricing-section1 {
//             @include flex-column;
//             gap: 10px;

//             @media (min-width: 576px) {
//                 @include flex-column;
//                 gap: 12px;
//             }

//             @media (min-width: 768px) {
//                 @include flex-row-reverse;
//                 margin: 0 14px 0 14px;
//                 gap: 14px;
//             }

//             @media (min-width: 992px) {
//                 @include flex-row-reverse;
//                 margin: 0 50px 0 50px;
//                 gap: 16px;
//             }

//             p {
//                 @include mobile-sections-p;

//                 @media (min-width: 576px) {
//                     font-size: 20px;
//                 }

//                 @media (min-width: 768px) {
//                     font-size: 24px;
//                 }

//                 @media (min-width: 992px) {
//                     font-size: 26px;
//                 }
//             }
//         }
//     }
// }

// #contact {
//     @include flex-column;
//     background-color: $banner-logo1;

//     .contact-title {
//         @include flex-column;
//         margin-top: 5px;
//         text-align: center;

//         @media (min-width: 576px) {
//             margin-top: 10px;
//         }

//         @media (min-width: 768px) {
//             margin-top: 12px;
//         }

//         @media (min-width: 992px) {
//             margin-top: 14px;
//         }

//         h2 {
//             margin: 0 10px 0 10px;

//             @media (min-width: 992px) {
//                 margin-top: 14px;
//                 font-size: 55px;
//             }
//         }

//         h3 {
//             margin: 0 10px 0 10px;
//             font-style: italic;

//             @media (min-width: 992px) {
//                 font-size: 35px;
//             }
//         }
//     }

//     .contact-container {
//         display: flex;
//         flex-direction: row;
//         padding: 8px;
//         padding-bottom: 0;
//         gap: 3em;

//         @media (min-width: 576px) {
//             gap: 8em;
//         }

//         @media (min-width: 768px) {
//             gap: 15em;
//         }

//         @media (min-width: 992px) {
//             gap: 20em;
//         }

//         .contact-text {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;

//             .contact-phone, .contact-address {
//                 margin-bottom: 8px;

//                 @media (min-width: 576px) {
//                     margin-bottom: 20px;
//                 }

//                 @media (min-width: 768px) {
//                     margin-bottom: 10px;
//                 }

//                 @media (min-width: 992px) {
//                     margin-bottom: 15px;
//                 }

//                 h3 {
//                     margin: 0;
//                 }

//                 p {
//                     margin: 0;

//                     @media (min-width: 576px) {
//                         font-size: 20px;
//                         margin-bottom: 2px;
//                     }

//                     @media (min-width: 768px) {
//                         font-size: 24px;
//                         margin-bottom: 2px;
//                     }

//                     @media (min-width: 992px) {
//                         font-size: 38px;
//                         margin-bottom: 2px;
//                     }
//                 }
//             }

//             .contact-email {
//                 margin-top: 8px;

//                 @media (min-width: 576px) {
//                     margin-top: 20px;
//                 }

//                 @media (min-width: 768px) {
//                     margin-top: 10px;
//                 }

//                 @media (min-width: 992px) {
//                     margin-top: 10px;
//                 }

//                 h3 {
//                     margin: 0;
//                 }

//                 .btn {
//                     margin: 5px;

//                     @media (min-width: 576px) {
//                         font-size: 20px;
//                     }

//                     @media (min-width: 992px) {
//                         font-size: 24px;
//                     }
//                 }

//                 .btn-primary {
//                     color: white;
//                     background-color: $red-100;
//                     border-color: $red-25;
//                     border-radius: 16px;
//                 }

//                 .btn-primary:hover {
//                     color: #fff;
//                     background-color: $red-50;
//                     border-color: #fff;
//                 }
//             }
//         }
//     }
// }

footer {
    background-color: $black-100;
    margin-top: auto;

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;

        .footer-links {
            @include flex-row;
            gap: 25px;
            a {
                color: $logo-font;
                text-decoration: none;
            }
        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            margin: 5px;

            .icons {
                a {
                    color: $logo-font;
                }

                a:hover {
                    color: $red-50;
                }
            }

            .social-icon {
                width: 24px;

                @media (min-width: 576px) {
                    width: 28px;
                }

                @media (min-width: 768px) {
                    width: 30px;
                }

                @media (min-width: 992px) {
                    width: 32px;
                }
            }
        }

        .footer-text {
            p {
                color: rgb(255, 255, 255);
                margin-bottom: 0;
            }
        }
    }

    .float-button {
        position: fixed;
        bottom: 20px;
        right: 20px;

        .top-button {
            color: $black-25;
            width: 32px;

            @media (min-width: 576px) {
                width: 34px;
            }

            @media (min-width: 768px) {
                width: 36px;
            }

            @media (min-width: 992px) {
                width: 38px;
            }
        }
    }
}