.textover-banner {
    position: relative;

    figcaption {
        position: absolute;
        top: 6%;
        left: 0%;
        color: $logo-font;
        text-align: left;
        font-style: italic;

        p {
            font-size: 12px;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 8px;
        }

        h1 {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 8px;

            span {
                font-weight: 600;
            }
        }

        .textover-paragraph {
            font-size: 10px;
            font-weight: 600;
            width: 300px;
        }
        
        @media (min-width: 350px) {
            top: 3%;

            p {
                font-size: 14px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 12px;
            }
    
            h1 {
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 12px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 12px;
                font-weight: 600;
                width: 320px;
            }
        }

        @media (min-width: 400px) {
            top: 12%;

            p {
                font-size: 16px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 12px;
            }
    
            h1 {
                font-size: 22px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 12px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 12px;
                font-weight: 600;
                width: 350px;
            }
        }

        @media (min-width: 450px) {
            top: 7%;

            p {
                font-size: 16px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
            }
    
            h1 {
                font-size: 24px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 12px;
                font-weight: 600;
                width: 350px;
            }
        }

        @media (min-width: 500px) {
            top: 16%;

            p {
                font-size: 14px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
            }
    
            h1 {
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 12px;
                font-weight: 600;
                width: 350px;
            }
        }

        @media (min-width: 550px) {
            top: 15%;

            p {
                font-size: 16px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
            }
    
            h1 {
                font-size: 24px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 14px;
                font-weight: 600;
                width: 400px;
            }
        }

        @media (min-width: 600px) {
            top: 18%;

            p {
                font-size: 16px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
            }
    
            h1 {
                font-size: 24px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 14px;
                font-weight: 600;
                width: 400px;
            }
        }

        @media (min-width: 650px) {
            top: 18%;

            p {
                font-size: 16px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
            }
    
            h1 {
                font-size: 24px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 14px;
                font-weight: 600;
                width: 400px;
            }
        }

        @media (min-width: 700px) {
            top: 17%;

            p {
                font-size: 18px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
            }
    
            h1 {
                font-size: 30px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 15px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 16px;
                font-weight: 600;
                width: 500px;
            }
        }

        @media (min-width: 800px) {
            top: 20%;

            p {
                font-size: 20px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 22px;
            }
    
            h1 {
                font-size: 32px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 22px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 18px;
                font-weight: 600;
                width: 550px;
            }
        }

        @media (min-width: 900px) {
            top: 20%;

            p {
                font-size: 22px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 18px;
            }
    
            h1 {
                font-size: 34px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 18px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 20px;
                font-weight: 600;
                width: 600px;
            }
        }

        @media (min-width: 1000px) {
            top: 23%;

            p {
                font-size: 24px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 30px;
            }
    
            h1 {
                font-size: 48px;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 30px;
    
                span {
                    font-weight: 600;
                }
            }
    
            .textover-paragraph {
                font-size: 22px;
                font-weight: 600;
                width: 700px;
            }
        }
    }
}

.sections-img {
    max-width: 50vw;

    @media (min-width: 576px) {
        width: 30vw;
    }

    @media (min-width: 768px) {
        width: 30vw;
    }

    @media (min-width: 992px) {
        width: 25vw;
    }
}

.contact-img {
    max-width: 35vw;

    @media (min-width: 576px) {
        max-width: 30vw;
    }

    @media (min-width: 768px) {
        max-width: 30vw;
    }

    @media (min-width: 992px) {
        max-width: 25vw;
    }
}

.logo {
    width: 25vw;

    @media (min-width: 576px) {
        width: 15vw;
    }

    @media (min-width: 768px) {
        width: 15vw;
    }

    @media (min-width: 992px) {
        width: 10vw;
    }
}