.textover-banner {
    position: relative;

    figcaption {
        position: absolute;
        top: 0%;
        left: 0;
        color: white;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        font-style: italic;
        padding: 10px;

        @media (min-width: 350px) {
            top: 8%;
        }

        @media (min-width: 400px) {
            top: 18%;
        }

        @media (min-width: 450px) {
            top: 22%;
        }

        @media (min-width: 500px) {
            top: 30%;
        }

        @media (min-width: 550px) {
            top: 32%;
        }

        @media (min-width: 600px) {
            top: 33%;
        }

        @media (min-width: 650px) {
            top: 35%;
        }

        @media (min-width: 700px) {
            top: 40%;
            padding: 15px;
            font-size: 25px;
        }

        @media (min-width: 800px) {
            top: 43%;
            padding: 15px;
            font-size: 25px;
        }

        @media (min-width: 900px) {
            top: 35%;
            font-size: 30px;
        }

        @media (min-width: 1000px) {
            top: 40%;
            font-size: 35px;
        }

        
    }
}

.sections-img {
    max-width: 50vw;

    @media (min-width: 576px) {
        width: 30vw;
    }

    @media (min-width: 768px) {
        width: 30vw;
    }

    @media (min-width: 992px) {
        width: 25vw;
    }
}

.contact-img {
    max-width: 35vw;

    @media (min-width: 576px) {
        max-width: 30vw;
    }

    @media (min-width: 768px) {
        max-width: 30vw;
    }

    @media (min-width: 992px) {
        max-width: 15vw;
    }
}

.logo {
    width: 25vw;

    @media (min-width: 576px) {
        width: 15vw;
    }

    @media (min-width: 768px) {
        width: 15vw;
    }

    @media (min-width: 992px) {
        width: 10vw;
    }
}