/*Color palette*/
$banner-logo1: #BFBFBF;

$black-100: #161616;
$black-50: #454545;
$black-25: #737373;

$red-100: #EE2038;
$red-50: #F14D60;
$red-25: #F57988;

$burgundy-100: #911A1D;
$burgundy-50: #A7484A;
$burgundy-25: #BD7677;